<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PastaOrigem" value="C:\Cristiano\Origem\"/>
    <add key="PastaDestino" value="C:\Cristiano\Destino\"/>
    <add key="PastaLogger" value="C:\Cristiano\Logs\"/>
    <add key="PastaControleArquivo" value="C:\Cristiano\Projetos\Acelera\"/>
    <add key="ServerHana" value="zeus.hana.prod.sa-east-1.whitney.dbaas.ondemand.com:20274"/>
    <add key="ConnectionString" value="Server=zeus.hana.prod.sa-east-1.whitney.dbaas.ondemand.com:20274;UID=CCARVALHO;PWD=Cristiano@03;encrypt=TRUE;"/>
  </appSettings>
</configuration>