<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PastaOrigem" value="C:\Cristiano\Origem\"/>
      <add key="PastaDestino" value="C:\Cristiano\Destino\"/>
    <add key="UsuarioHana" value="WBATISTA"/>
    <add key="SenhaHana" value="Will@g001"/>
    <add key="ServerHana" value="zeus.hana.prod.sa-east-1.whitney.dbaas.ondemand.com:20272"/>
  </appSettings>
</configuration>