<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PastaOrigem" value="C:\Cristiano\Origem\"/>
    <add key="PastaDestino" value="C:\Cristiano\Importacao\"/>
    <add key="PastaLogger" value="C:\Cristiano\Logs\"/>
    <add key="UsuarioHana" value="CCARVALHO"/>
    <add key="SenhaHana" value="Cristiano@03"/>
    <add key="EnderecoHDB" value="C:\HDBClient"/>
    <add key="ServerHana" value="zeus.hana.prod.sa-east-1.whitney.dbaas.ondemand.com:20274"/>
  </appSettings>
</configuration>